:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --ocean: #404BBF;
    --white: #FFF;
    --slate: #434455;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.address {
    font-style: normal;
    margin-left: auto;
}


.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid #4D5AE5 ;
}

.header-container {
    display: flex;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;/* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.header-logo-simple {
    color: var(--navyblue);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;/* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-navigation {
    display: flex;
    gap: 76px;
}

.header-menu-list {
    display: flex;
    gap: 40px
}

.header-contacts-list {
    display: flex;
    gap: 40px;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--ocean);
}

.header-menu-link {
    color: var(--navyblue);   
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.02em;
}

.header-contacts-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--ocean);
}


/*HERO*/

.hero {
    background-color: var(--navyblue);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;/* 107.143% */
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    margin: 0 auto 48px;
}

.hero-order-btn {
    background-color: var(--iris);
    color: var(--white);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-order-btn:hover, .hero-order-btn:focus { 
    background-color: var(--ocean);
}

/*ADVANTEGES*/

.advanteges {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advanteges-list {
    display: flex;
    gap: 24px;
}

.advanteges-list-item {
    width: calc((100% - 3 * 24px) / 4);
}

.advanteges-item-subtitle {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;/* 120% */
    letter-spacing: 0.02em;
}

.advanteges-item-description {
    color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.02em;
    max-width: 264px;
}

/*WORKS*/

.works {
    padding-top: 120px;
    padding-bottom: 120px;
}

.works-list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
}

.works-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;/* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/*TEAM*/

.team {
    background-color: var(--cloud);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: var(--navyblue);
    text-align: center;   
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;/* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background: var(--white);
}

.team-item-name {
    color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;/* 120% */
    letter-spacing: 0.02em;
}

.team-item-occupation {
    color: var(--slate);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.02em;
}

/*PORTFOLIO*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-work-item {
    border: 1px solid var(--cornflower);
    background: var(--white);
}

.portfolio-options-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.portfolio-works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-options-btn {
    border: 1px solid var(--cornflower);
    background: var(--cloud, #F4F4FD);
    color: var(--iris);
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    display: block;
}


.portfolio-options-btn:hover,
.portfolio-options-btn:focus {
    color: var(--white);
    background-color: var(--ocean);
}

.portfolio-work-name {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;/* 120% */
    letter-spacing: 0.02em;
}

.portfolio-work-description {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}

/*FOOTER*/

.footer {
    background: var(--navyblue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;/* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
}

.footer-logo-simple {
    color: var(--cloud);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;/* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-description {
    color: var(--cloud);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;/* 150% */
    letter-spacing: 0.02em;
    max-width: 264px;
}


